.heading-section {
  background: linear-gradient(to right, rgb(2, 228,171), rgb(74,215,240));

  padding: 100px;
  padding-bottom: 150px;

  h1.title {
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 2px rgba(black, 0.5);
  }
}

.add-todo-box {
  padding: 25px;
  background: white;

  //border: 1px solid black;
  border-radius: 4px;

  margin-top: -65px;

  -webkit-box-shadow: 0px 4px 12px 0px rgba(65, 68, 90, 0.5);
  -moz-box-shadow: 0px 4px 12px 0px rgba(65, 68, 90, 0.5);
  box-shadow: 0px 4px 12px 0px rgba(65, 68, 90, 0.5);

  button.is-danger {
    font-weight: 600;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 0 5px rgba(black, 0.05);
    }

    &:active {
      opacity: 0.8;
    }

  }
}


.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 25px 20px;

  position: relative;

  font-size: 18px;

  border-bottom: 1px solid #eeeeee;

  &.completed {
    color: #eeeeee;

  }

}

.todo-item .check-box {
  border: 2px solid #eee;
  border-radius: 100%;
  width: 28px;
  height: 28px;

  margin-right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  transition: background-color 0.2s;

  i.fa-check {
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    cursor: pointer;

    i.fa-check {
      opacity: 1;
    }
  }

}

.todo-item:hover {
  cursor: pointer;
}

.todo-item:hover .check-box {

  cursor: pointer;
  background-color: #eeeeee;

  i.fa-check {
    opacity: 0.5;

  }

}

.todo-item.completed .check-box {
  background-color: rgb(11,223,170);
  border-color: rgb(11,223,170);

  i.fa-check {
    opacity: 1;
    color: #333;
  }
}


.todo-item .todo-controls-box {
  position: absolute;
  right: 10px;
  bottom: 0;

  display: flex;

  // hide by default
  opacity: 0;
  visibility: hidden;

  transform: translateY(5px);

  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;

}

.todo-item:hover .todo-controls-box {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.todo-controls-box .todo-control-button {
  padding: 8px 16px;
  background-color: #eeeeee66;
  color: #4A4A4AFF;

  &:hover {
    background-color: #eeeeee;
    color: #4A4A4AFF
  }

  &:active {
    background-color: #cccaca;
    color: #4A4A4AFF
  }

  &:first-of-type {
    border-top-left-radius: 8px;
  }

  &:last-of-type {
    border-top-right-radius: 8px;
  }

}


.todo-controls-box .todo-control-button.is-danger:active .fa-trash-alt{
  color: red;
}
