<div class="todo-item" (click) = "onTodoClick()" [class.completed]="todo?.completed" >

  <div class="check-box">
    <i class="fas fa-check"></i>
  </div>

  <div class="todo-text">
    {{todo?.text}}
  </div>

  <div class="todo-controls-box" appToolTipSingleton (click)="$event.stopPropagation()">
    <div class="todo-control-button" appToolTip="Edit Todo" (click)="onEditClick()">
      <i class="fas fa-edit"></i>
    </div>
    <div class="todo-control-button is-danger" appToolTip="Delete Todo"  (click)="onDeleteClick()">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

</div>
